* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0ea5e9;
    --focus-color: #0284c7;
    --border-color: #d4d4d4;
}

main {
    background-color: #f5f5f5;
    padding: 80px 0;
}

.inner-container {
    height: 900px;
    width: 1024px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px var(--border-color);
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.picture {
    background-image: url(Picture/mountains-1.jpg);
    width: 43%;
    background-size: cover;
    background-position: center; 
    border-radius: 15px 0 0 15px;
}

sections {
    width: 57%;
    background-color: white;
    border-radius: 0 15px 15px 0;
}

form {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    color: var(--main-color);
    margin: 40px 0 0;
}

.registration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 30px 0 20px;
}

.reg-item {
   display: flex;
   flex-direction: column;
}

.input {
    height: 40px;
    width: 257px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px 0;
}

.label {
    font-size: 15px;
    font-weight: 600;
    color: #404040;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    color: #171717;
}

.delyvery {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.del-input {
    height: 40px;
    width: 165px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px 0;
}

.adress-input {
    height: 40px;
    width: 515px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px 0;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #737373;
    padding: 5px 0 35px;
}

.notice {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.notice-item {
    padding-bottom: 15px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--border-color);
}

.checkbox:checked {
    background-color: var(--focus-color);
    background-image: url('Picture/check-icon.png');
    background-position: center;
    background-size: contain;
}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: var(--focus-color);
}


input:focus {
    outline-color: var(--main-color);
}